:root {
    --forground: #DDDBDD;
    --light: #fff;
    --lightpurple: rgba(124, 106, 255, 1.0);
    --outline: 1px rgba(124, 106, 255, 0.8) solid;
    --greyoutline:1px #E0E5EB solid;
    --white:#fff;
    --menuhover:#F4F8FF;
    --font-stack: -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif!important;
}

/*-------Responder Tool*/

body.responder, body.responder-resize-on.responder-sz {
    outline: var(--outline);
    background-color: rgba(124, 106, 255, 0.02) !important;
}

body.responder div,
body.responder section,
body.responder header,
body.responder nav,
body.responder main,
body.responder h1,
body.responder h2,
body.responder h3,
body.responder h4,
body.responder h5,
body.responder h6
body.responder p,
body.responder span,
body.responder img,
body.responder footer,
body.responder a,
body.responder blockquote,
body.responder pre,
body.responder table,
body.responder tr,
body.responder td,
body.responder ul,
body.responder li,
body.responder ol,
body.responder embed,
body.responder form,
body.responder canvas,
body.responder label,
body.responder article,
body.responder audio,
body.responder video,
body.responder menu,
body.responder-resize-on.responder-sz div,
body.responder-resize-on.responder-sz section,
body.responder-resize-on.responder-sz header,
body.responder-resize-on.responder-sz nav,
body.responder-resize-on.responder-sz main,
body.responder-resize-on.responder-sz h1,
body.responder-resize-on.responder-sz h2,
body.responder-resize-on.responder-sz h3,
body.responder-resize-on.responder-sz h4,
body.responder-resize-on.responder-sz h5,
body.responder-resize-on.responder-sz h6
body.responder-resize-on.responder-sz p,
body.responder-resize-on.responder-sz span,
body.responder-resize-on.responder-sz img,
body.responder-resize-on.responder-sz footer,
body.responder-resize-on.responder-sz a,
body.responder-resize-on.responder-sz blockquote,
body.responder-resize-on.responder-sz pre,
body.responder-resize-on.responder-sz table,
body.responder-resize-on.responder-sz tr,
body.responder-resize-on.responder-sz td,
body.responder-resize-on.responder-sz ul,
body.responder-resize-on.responder-sz li,
body.responder-resize-on.responder-sz ol,
body.responder-resize-on.responder-sz embed,
body.responder-resize-on.responder-sz form,
body.responder-resize-on.responder-sz canvas,
body.responder-resize-on.responder-sz label,
body.responder-resize-on.responder-sz article,
body.responder-resize-on.responder-sz audio,
body.responder-resize-on.responder-sz video,
body.responder-resize-on.responder-sz menu
{
    outline: var(--outline);
    background-color: rgba(124, 106, 255, 0.06) !important;
}


#window-resizer-tooltip {
    opacity: 0;
}

body #windowDetector1, body #windowDetector2 {
    opacity: 0;
}

body.responder-resize-on.responder-sz #windowDetector2, body.responder #windowDetector1 {
    opacity: 1.0;
}

body.responder, body.responder-resize-on.responder-sz  {
    background-position: left top;
    background-image: -webkit-linear-gradient(0deg, transparent, transparent 9px, rgba(124, 106, 255, 0.25) 9px), linear-gradient(90deg, transparent, transparent 9px, rgba(124, 106, 255, 0.25) 9px);
    background-image: -moz-linear-gradient(0deg, transparent, transparent 9px, rgba(124, 106, 255, 0.25) 9px), linear-gradient(90deg, transparent, transparent 9px, rgba(124, 106, 255, 0.25) 9px);
    background-image: linear-gradient(0deg, transparent, transparent 9px, rgba(124, 106, 255, 0.25) 9px), linear-gradient(90deg, transparent, transparent 9px, rgba(124, 106, 255, 0.25) 9px);
    background-size: 10px 10px;
}

body {
    font-family: var(--font-stack);
}

#windowDetector2 {
    margin: 0;
    position: relative;
    box-sizing: border-box;
    background: var(--lightpurple) !important;
    right: 0;
    top: 0;
    position: fixed;
    color: var(--forground);
    display: flex;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0 5px;
    font-size: 12px;
    z-index: 9000;
    font-family: var(--font-stack);
    line-height: auto!important;
    border: 0 !important;
}

.userWidth2::after, .userHeight2::after {
    content: "px";
}

.userWidthEm2::after, .userHeightEm2::after {
    content: "em";
}

.x2 {
    color: var(--light);
    padding: 0 5px;
}

.divider {
    color: var(--dark);
    font-weight: 600;
    padding: 0 .4em;
}


#windowDetector1 {
    margin: 0;
    position: relative;
    box-sizing: border-box;
    background: var(--lightpurple) !important;
    right: 0;
    top: 0;
    position: fixed;
    color: var(--forground);
    display: flex;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0 5px;
    font-size: 12px;
    z-index: 9000;
    font-family: var(--font-stack);
    line-height: auto!important;
    border: 0 !important;
}

.userWidth1::after, .userHeight1::after {
    content: "px";
}

.userWidthEm1::after, .userHeightEm1::after {
    content: "em";
}

.x1 {
    color: var(--light);
    padding: 0 5px;
}


/*-------Responder Menu*/

body#responder-menu-body {
        padding:0; margin:0;
}

.responder-menu-button input {
        cursor: pointer;
}
ul.responder-menu {
    list-style: none;
    margin: 0;
    padding: 0;
}
.responder-menu {
    width: 175px;
    animation: fadeIn 200ms ease;
}
.responder-menu li {
    border-bottom: var(--greyoutline);
}
.responder-menu li:last-child {
    border-bottom: 0;
}
.responder-menu-button {
    background: var(--white);
    cursor: pointer;
    position: relative;
    display: block;
    margin: 0;
    padding: 0;
}

.responder-menu-button input {
    background: var(--white);
    border: 0;
    box-shadow: none;
    margin: 0;
    padding: 0;
    font-size: 15px;
    font-family: var(--font-stack);
    padding: 15px 0 17px 35px;
    width: 100%;
    text-align: left;
}

.responder-menu-button input:hover {
    background: var(--menuhover);
}

.responder-menu-button input:focus {
    outline:0;
}

#toggle-display.active, #show-on-resize.active {
    background: var(--menuhover) url('../img/check.svg') no-repeat 13px 17px;
}
